.socialContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 36px 0;

  ul {
    display: flex;

    li {
      margin: 0 6px;
    }
  }
}