$max-screen-width: 1800px;
$xlarge-screen-width: 1600px;
$large-screen-width: 1350px;
$mlarge-screen-width: 1125px;
$mid-screen-width: 900px;
$mini-screen-width: 675px;
$small-screen-width: 450px;
$tall-screen-height: 750px;
$sidebar-width: 15em;
$text-size: 14px; // standard text size, as opposed to the basis for rems;
$text-line-height: 1.214285; // 17px
$heading-line-height: 1.42857143; // 20px
$top-padding-standard: 6rem;
$top-logo-margin-bottom-standard: 3rem;
$top-padding-tall: 7rem;
$top-logo-margin-bottom-tall: 4rem;
$text-max-width: 50em;
$fixed-height-horizontal-gap: 3vmin;
$fixed-height-horizontal-gap-medium: 2vmin;

/* $dark: #333333; */
$dark: black;
$mid-grey: #999999;
$light-grey: #cccccc;
$light: white;
$primary: #ff6600;
$danger: #cc0000;

@mixin custom-dots {
  border-image-source: url(/assets/border-square.svg);
  border-image-slice: 100% 0%;
  border-image-repeat: round;
}

@mixin square-dots {
  @include custom-dots();
  border-bottom: dotted 2px $dark;
}

@mixin square-dots-top {
  @include custom-dots();
  border-top: dotted 2px $dark;
}

@mixin square-dots-top-bottom {
  @include custom-dots();
  border-top: dotted 2px $dark;
  border-bottom: dotted 2px $dark;
}



@keyframes fadeoutentry {
  0% {
    opacity: 0.6667;
  }
  100% {
    opacity: 0;
  }
}

html {
  font-size: 14px;
  @media (min-width: $mini-screen-width) {
    font-size: 15px;
  }
  @media (min-width: $mid-screen-width) {
    font-size: 16px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: $dark;
  background-color: $light;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.seo-hide {
  position: absolute;
  left: -2000em;
  top: -1000em;
}

fieldset {
  &.search-bar {
    border: none;
    width: 100%;
    max-width: 32em;
    align-self: flex-start;
    position: relative;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-end: 0;
    margin-bottom: 1em;
    .nextui-input-main-container--with-value {
      label {
        border-radius: 0.125em;
      }
    }
  
    .long-text {
      width: 100%;
    }

    .icon-search {
      position: absolute;
      top: 0.625em;
      right: 0.5em;
      pointer-events: none;
    }
    .search-suggestions {
      position: absolute;
      user-select: none;
      top: 2em;
      opacity: 0;
      pointer-events: none;
      padding: 0.25em 0;
      border: solid 1px $light-grey;
      background-color: white;
      transition: opacity 0.25s ease-in-out;
      li {
        padding: 0.125em 0.375em;
        cursor: pointer;
        &:hover {
          color: $primary;
        }
      }
    }
    .search-suggestions.focus,
    &:hover .search-suggestions {
      opacity: 1;
      z-index: 30;
      li {
        pointer-events: all;
      }
    }
  }
}

#nextui-tooltip,
article,
nav,
main,
header,
aside,
figure,
section {

  >h1,
  header > h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: normal;
    a {
      user-select: none;
      display: inline-block;
      margin-right: 0.5em;
      &.breadcrumb {
        &:after {
          display: inline-block;
          font-family: icomoon;
          margin-left: 0.5em;
          content: "\e905";
          font-size: 0.8em;
        }
      }
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        color: $primary;
      }
    }
  }

    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    li {
      font-size: $text-size;
      font-weight: normal;
    }

    h4,
    h5,
    p,
    li {
      line-height: $text-line-height;
    }

    h1,
    h2,
    h3 {
      line-height: $heading-line-height;
    }

  >h1,
  header>h1,
  >h2,
  >h3,
  >h4,
  >h5 {
    text-transform: uppercase;
  }
}

.body {
  font-size: $text-size;
}

#nextui-tooltip {
  border-radius: 0;
}

nav {
  user-select: none;
}

header.header {
  .logo {
    position: absolute;
    top: 0.5rem;
    left: 2.5%;
    display: block;
    width: 100%;
    height: 3rem;
    background: url(/assets/signature.svg) no-repeat top left;
    background-size: contain;
    @media (max-width: $mid-screen-width) {
      max-width: 50%;
      z-index: 55;
    }
    @media (min-width: $mid-screen-width) {
      position: relative;
      top: 0;
      left: auto;
    }
  }

  .expand-nav {
    display: block;
    position: absolute;
    top: 0.5rem;
    right: 5%;
    @media (max-width: $mid-screen-width) {
      z-index: 60;
      cursor: pointer;
      &:hover {
        color: $primary;
      }
    }
  }
  
  @media screen and (min-width: $mid-screen-width) {
    position: sticky;
    top: 2em;
    width: $sidebar-width;
    .expand-nav {
      display: none;
    }
    .logo {
      margin-bottom: $top-logo-margin-bottom-standard;
      @media (min-height: $tall-screen-height) {
        margin-bottom: $top-logo-margin-bottom-tall;
      }
    }
  }
}
@media (max-width: $mid-screen-width) {

  .show-menu {
    .top-nav {
      min-height: 19em;
      max-height: 100vh;
      overflow-y: auto;
      overflow-x: hidden;
      ul {
        li.inner {
          opacity: 1;
        }
      }
    }
  }
}

.top-nav {
  position: relative;
  @media (max-width: $mid-screen-width) {
    width: 100%;
    transition: max-height 0.625s ease-in-out;
    min-height: 6rem;
    max-height: 6rem;
    z-index: 50;
    overflow: hidden;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    @include square-dots();
  }
  > ul {
    display: flex;
    /* flex-flow: row wrap; */
    position: relative;
    top: 0.5rem;
    right: 0;
    left: 0;
    flex-flow: column nowrap;
    @media (max-width: $mid-screen-width) {

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      padding-top: 4rem;
      pointer-events: none;
      li {
        &.prominent {
          position: absolute;
          pointer-events: all;
          line-height: 1.5;
          &.search-link {
            right: 2.75rem;
            top: 0;
          }
          &.section--home {
            right: 3rem;
            top: 4rem;
            left: 0;
            max-width: 4em;
          }
        }
        &.inner {
          padding: 0.25em 6rem;
          font-size: 1.25rem;
          line-height: 1.375;
          a {
            width: 100%;
          }
          opacity: 0;
          text-align: center;
          pointer-events: none;
          a {
            pointer-events: all;
          }
        }
      }
    }
    @media screen and (min-width: $mid-screen-width) {
      li {
        position: relative;
        top: 0;
        left: auto;
        right: auto;
        a {
          width: 100%;
        }
        &.search-link {
          padding-bottom: 8em;
          i.icon {
            cursor: pointer;
          }
        }
      }
    }
    li {
      padding: 0 1em;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      user-select: none;
      line-height: 1.5;
      &.active {
        a {
          font-weight: bold;
        }
      }
      &.search-link,
      &.section--home {
        .icon {
          font-size: 1rem;
          cursor: pointer;
          &:hover {
            color: $primary;
          }
        }
      }
      &.search-link {
        > div:first-child {
          width: auto;
          max-width: 0;
          overflow: hidden;
          transition: all 0.333s ease-in-out;
        }
        &.expanded > div:first-child,
        &:hover > div:first-child {
          max-width: 12.5em;
          margin-right: 0.25em;
        }
      }
      &:hover {
        a {
          color: $primary;
        }
      }
    }
  }
}

.top-nav,
.about-nav,
.footer-nav,
.filter-nav {
  h1,
  h2,
  li {
    text-transform: uppercase;
    font-size: $text-size;
  }
}

body,
div#__next {
  margin: 0 auto;
}

div#__next {
  width: 100%;
}

figure {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  &.hidden {
    display: none;
  }
}

ul,
li,
figure,
p,
h3,
h4 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.body {
  p, h2, h3, h4 {
    margin-bottom: 0.75em;
  }
}

.text-details {
  h3, h4, p {
    margin-bottom: 0.75em;
  }
  p, h4 {
    span {
      display: inline-block;
      margin-right: 1em;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

img {
  max-width: 100%;
}

.section-header {
  @include square-dots();
  font-weight: normal;
  font-size: 1em;
  margin-bottom: 1em;
  width: 100%;
  padding: 0 0 0.5em 0;

  h1 {
    margin: 0;
  }
}

.gt-outer body > div#__next > div {
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 2.5% 2rem 2.5%;
  @media (min-width: $mid-screen-width) {
    padding: 2rem 2.5%;
  }
  max-width: $max-screen-width;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .upper {
    text-transform: uppercase;
  }

  .close-link {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  .subtitle-link {
    cursor: pointer;
  }

  > main {
    position: relative;
    width: 100%;
    padding: 0 2.5%;
    margin: 0 auto 2em 0;
    min-width: 100%;
    a:hover {
      color: $primary;
    }
    a:active {
      font-weight: bold;
    }
    
  }

  @media (max-width: $mid-screen-width) {
    header {
      width: 100%;
    }
  }

  @media screen and (min-width: $mid-screen-width) {
    display: grid;
    grid-template-columns: $sidebar-width auto;
    column-gap: 2.5%;
    align-items: flex-start;
    justify-items: stretch;
    grid-template-areas: "header main"
      "footer footer";
    > header {
      grid-area: header;
    }
    > main {
      grid-area: main;
      width: auto;
      min-width: calc(95vw - $sidebar-width - 12.5%);
      padding-top: $top-padding-standard;
      padding-left: 0;
      @media (min-height: $tall-screen-height) {
        padding-top: $top-padding-tall;
        padding-right: 0;
      }
    }
    > footer {
      grid-area: footer;
      min-width: calc(95vw - 2.5%);
      @media (min-width: $max-screen-width) {
        min-width: calc($max-screen-width - 6.25%);
      }
    }
  }

    @media screen and (min-width: $max-screen-width) {
      >main {
        /* min-width: calc($max-screen-width - $sidebar-width - 11.25%); */
        min-width: calc($max-screen-width - $sidebar-width - 25%);
      }
    }

  footer.footer {
    width: 100%;
    position: relative;
    a:hover {
      color: $primary;
    }
    .menus {
      width: 100%;
      position: relative;
      @include square-dots-top-bottom();
      padding: 0.5em 0;
      margin: 0 0 1em 0;
      user-select: none;
    }
    .social-nav {
      position: absolute;
      bottom: 0.5em;
      right: 0;
      li {
        position: relative;
        padding: 0 0 0 0.625em;
        i.icon {
          font-size: 1.25em;
        }
        .text-label {
          position: absolute;
          left: -1000em;
          top: 0;
        }
      }
    }
    .footer-nav {
      li {
        margin: 0;
        font-size: 0.875rem;
        line-height: 1.375em;
      }
    }
    .credits * {
      font-size: 0.75rem;
      user-select: none;
    }
  }

  
}

.section--tags-theme.gt-outer body>div#__next>div {
  position: relative;
  @media screen and (min-width: $mid-screen-width) {
      align-items: flex-start;
      grid-template-areas: "main"
          "footer";

      grid-template-columns: 1fr;
      > header {
        position: absolute;
        top: 1rem;
        bottom: 0;
        left: 2.5%;
        nav {
          opacity: 0;
          pointer-events: none;
        }
      }

      > main {
        width: 100%;
        max-width: 100%;
        pointer-events: none;
        .tag-list a {
          pointer-events: all;
        }
      }
      
    }
}
/* .paginator {
  ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    li {
      padding: 0.5em 1em;
      &.active a {
        pointer-events: none;
        font-weight: bold;
        color: $mid-grey;
      }
      a {
        color: $dark;
      }
    }
  }
} */


.listing-nav {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0.75em 0 1.5em 0;
  .nav-link {
    display: flex;
    align-items: center;
    &:hover {
      color: $primary;
    }
    &.prev {
      margin-right: 1em;
    }
    &.next {
      margin-left: 1em;
    }
  }
  i, span {
    display: inline-block;
  }

  i.icon {
    &.next {
      margin-left: 0.25em;
    }
    &.prev {
      margin-right: 0.25em;
    }
    font-size: 1.125em;
  }
}

.row, .column {
  display: flex;
}
.row {
  flex-flow: row wrap;
}

.about-listing {
  .related-mini,
  li {
    padding: 1em 0;
    margin-bottom: 1em;
    @include square-dots();
    &:last-child {
      border-bottom: none;
    }
  }
}

.timeline-item-container {
  position: relative;
  height: 12em;
  width: 100%;
  min-width: calc(100vw - $sidebar-width - 7.5vw);
  overflow: hidden;
  @media screen and (min-width: $max-screen-width) {
    min-width: calc($max-screen-width - $sidebar-width - 135px);
  }
  .timeline-items {
      position: absolute;
      top: 3em;
      right: 0;
      left: 0;
      bottom: 0;
      overflow: hidden;
      &::before,
      &::after {
        position: absolute;
        top: 0.125rem;
        height: 1rem;
        width: 1.25rem;
        content: " ";
        background-color: white;
        z-index: 7;
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }

      .timeline-holder {
        flex-flow: row nowrap;
        width: 10000%;
        position: relative;
        transition: left 0.5s ease-in-out;
        text-align: center;
        > div.timeline-item {
          position: relative;
          width: 20em;
          padding: 4rem 1rem 1rem 1em;
          margin: 1em 0;
          &.selected {
            h3, h4 {
              font-weight: bold;
            }
          }
          &::before,
          &::after {
            position: absolute;
            content: " ";
          }
          &::before {
            border-top: solid 1px $dark;
            top: 0;
            left: 0;
            right: 0;
          }
          &::after {
            top: 0;
            left: 50%;
            height: 3rem;
            border-right: solid 1px $dark;
          }
        }
      }
    }

  .timeline-dir-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 40;
    i.icon {
      position: absolute;
      font-size: 1.5rem;
      top: 0.3125rem;
      opacity: 0;
      &:hover {
        color: $primary;
      }
      &.prev {
        left: 0;
      }
      &.next {
        right: 0;
      }
    }
    &.show-prev .prev,
    &.show-next .next {
      opacity: 1;
      cursor: pointer;
      pointer-events: all;
    }
  }
}

.related-content {
  margin: 2rem 0 1rem 0;
  padding: 1rem 0;
  li {
    em {
      display: inline-block;
      margin-left: 0.5em;
    }
    margin-bottom: 0.625em;
    a {
      &:hover {
        color: $primary;
      }
    }
  }
}

.grid-sidebar {
  > article {
    > header > h1,
    > h1 {
      margin-top: 0.25rem;
    }
  }
  >.related-content {
    padding-top: 0;
  }
}

.timeline-details {
  width: 100%;
  @media screen and (min-width: $mini-screen-width) {
    width: 90%;
  }
  @media screen and (min-width: $mid-screen-width) {
    width: 80%;
    max-width: 80em;
  }
  margin-bottom: 4em;
}

.grid-2-header,
.grid-half-header,
.grid-2 {
  display: grid;
  align-items: stretch;
  margin-bottom: 2em;
  figure,
  .text-details {
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column nowrap;
  }
  figcaption {
    width: 100%;
    text-align: center;
  }
}

.grid-2-header,
.grid-2 {
  grid-template-columns: 1fr 1fr;
  column-gap: 5%;
}

.grid-2-header {
  @media (min-width: $mid-screen-width) {
      grid-template-areas: "head head"
      "left right";
    > h1 {
      grid-area: head;
    }
  
    >.left-container {
      grid-area: left;
      align-self: flex-start;
    }
  
    >.text-details {
      grid-area: right;
    }
  }
}

.left-align {
  justify-content: flex-start;
  align-items: flex-start;
}

.text-max-width,
.grid-half-header {
  width: 100%;
  @media screen and (min-width: $mid-screen-width) {
    justify-content:flex-start;
    max-width: $text-max-width;
  }
}
/*  .grid-half-header {
  @media screen and (min-width: $xlarge-screen-width) {
    max-width: 50%;
  }
} */

.flex-grid-4 {
  display: grid;
  grid-template-columns: 1fr;
  @media screen and (min-width: $mini-screen-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 2.5%;
  }
  @media screen and (min-width: $mid-screen-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media screen and (min-width: $large-screen-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.flex-grid-2 {
  display: grid;
  grid-template-columns: 1fr;

  @media screen and (min-width: $mid-screen-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
  }
}

.column {
  flex-flow: column wrap;
}

ul, ol {
  &.tag-list,
  &.row {
    list-style: none;
  }
  &.terms {
    li {
      padding: 0.25em 1em 0.25em 0;
      a {
        &::after {
          content: ",";
        }
      }
      &:last-child {
        a::after {
          content: "";
        }
      }
    }
  }
}

.tag-list {
  display: block;

  /* max-width: 80em;
  width: 80%; */
  justify-content: flex-start;
  align-items: center;

  > .tag {
    padding: 0;
    display: inline;
    position: relative;
    white-space: normal;

    font-size: 1rem;
    @media (min-width: $small-screen-width) {
      font-size: 1.3333rem;
    }
    @media (min-width: $mini-screen-width) {
      font-size: 1.6667rem;
    }

    @media (min-width: $mid-screen-width) {
      font-size: 2rem;
    }

    @media (min-width: $large-screen-width) {
      font-size: 2.25rem;
    }

    &::after {
      display: inline-block;
      content: "|";
      margin: 0 0.375em 0 0;
    }

    &:hover {
      &::after {
        color: $mid-grey;
        transform: scaleY(1.8888) translateY(1.25%);
      }
    }

    &:last-child {
      &::after {
        content: "";
        margin: 0;
      }
    }

    a {
      position: relative;
      padding: 0 0.5em 0 0;
      color: $dark;
      white-space: normal;

      &:hover {
        background-color: $mid-grey;
        color: white;
        line-height: 1;
        outline: solid 0.125em $mid-grey;
        &::before {
          position: absolute;
          content: " ";
          height: 1.3165em;
          top: -0.09375em;
          left: -0.625em;
          @media (min-width: $mid-screen-width) {
            top: -0.125em;
            height: 1.40625em;
          }
          @media (min-width: $large-screen-width) {
            height: 1.375em;
          }
          border-left: solid 0.625em $mid-grey;
          z-index: 0;  
        }
      }
    }
  }
  margin-bottom: 3em;
}

.about-article {
  > h2,
  .body > h3 {
    @include square-dots();
    text-transform: uppercase;
  }

  .body > h3 {
    margin-top: 4em;
  }
  margin-bottom: 2em;
}

body .nprogress {
  width: 100vw;
}

.grid {
  display: grid;
}

.fixed-height-rows,
.grid {
  width: 100%;
  figure {
    position: relative;
    font-size: 0.8em;
   /*  &:hover figcaption {
      opacity: 1;
    } */
  }
}

.essay-list-items {
  width: 100%;
  li {
    margin: 0 0.25em;
    max-width: 100%;
    @media (min-width: $mlarge-screen-width) {
      width: 50em;
    }
    span, em, strong {
      display: inline-block;
      padding-right: 0.75rem;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        padding-right: 0;
        &:after {
          content: "";
          margin-right: 0;
        }
      }
      &::after {
        display: inline-block;
        content: "—";
        margin: 0 0.25em 0 0.75rem;
      }
    }
    h3 {
      margin: 0;
    }
  }
}

.grid,
.fixed-height-rows.medium-height {
  left: -2vmin;

  figcaption {
    position: absolute;
    h3,
    p,
    ul,
    li {
      font-size: 1em;
      margin: 0;
    }

    h3,
    p,
    ul {
      padding: 0 0 0.25em 0;
    }

    ul li {
      padding: 0;
    }

    background-color: rgba($light, 0.5);
    transition: opacity 0.5s ease-in-out;
  }
  &.captions-below {
    figure {
      margin-bottom: 4rem;
    }
  }
}

.grid {
  a.image-link,
  .image-link {
    top: 0;
    left: 0;
    right: 2em;
    bottom: 2em;
  }
}

.fixed-height-rows.inner-captions {
  figure {
    figcaption {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 1em 10%;
      opacity: 0;
      pointer-events: none;
    }
  }
}

figure {
  .terms {
    li {
      padding: 0 0.75em 0 0;
      line-height: 1.25;
    }
  }
}

.result-section {
  > h2 {
    text-transform: uppercase;
    padding: 0.5em 0;
    @include square-dots();
  }
}

.fixed-height-rows {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  /* justify-content: space-evenly; */
  /* justify-content: space-between; */
  justify-content: flex-start;
  overflow-x: hidden;
  position: relative;
  &.medium-height {
    figure {
      display: flex;
      padding: 1vmin $fixed-height-horizontal-gap-medium;
      flex-flow: column nowrap;
    }
  }
  &.tall-height {
    left: -3vmin;
    figure {
      padding: 1vmin $fixed-height-horizontal-gap;
    }
  }
  width: calc(100% + 1em);
  > figure {
    width: 100%;
    position: relative;
    padding: 1vmin $fixed-height-horizontal-gap;
    .image-link {
      display: block;
      max-height: 100%;
      height: 100%;
      span {
        max-height: 100%;
      }
    }
  }

  .frame {
    height: 100%;
    min-width: 12.5rem;
    aspect-ratio: 1;
    outline: dashed 0.125em $mid-grey;
  }
  &.medium-height {
    > figure {
      @media screen and (min-width: $mini-screen-width) {
        height: 12.5rem;
        width: auto;
      }
  
      @media screen and (min-width: $max-screen-width) {
        height: 180px;
      }
    }
  }
  &.tall-height {

    > figure {
    flex-flow: column nowrap;
    margin-bottom: 5rem;
    &:after {
      content: "";
      position: absolute;
      bottom: -4rem;
      left: $fixed-height-horizontal-gap;
      width: 100%;
      height: 1px;
      background-color: white;
      @include square-dots();
    }
    &.row-end {
      &:after {
        width: calc(100% - $fixed-height-horizontal-gap - $fixed-height-horizontal-gap);
      }
    }
    figcaption {
      height: 4rem;
    }
    a > figcaption {
      position: absolute;
      top: 100%;
      left: $fixed-height-horizontal-gap;
      right: $fixed-height-horizontal-gap;
      text-align: left;
      h3, p {
        line-height: 1.125;
        margin-bottom: 0.125em;
        white-space: nowrap;
        overflow: hidden;
      }
    }
      @media screen and (min-width: $mini-screen-width) {
        height: 17.5rem;
        width: auto;
      }

      @media screen and (min-width: $max-screen-width) {
        height: 280px;
      }
    }
    .frame {
      @media screen and (min-width: $mini-screen-width) {
        min-width: 17.5rem;
      }
    
      @media screen and (min-width: $max-screen-width) {
        min-width: 280px;
      }
    }
  }
}

.grid-list {
  width: 100%;
  .columns {
    @media screen and (min-width: $mini-screen-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: masonry;
      column-gap: 2.5%;
      justify-content: flex-start;
      grid-row-gap: 1em;
    }
    @media screen and (min-width: $mlarge-screen-width) {
      grid-template-columns: repeat(3, 1fr);
    }
    figure {
      flex-flow: column nowrap;
      justify-content: flex-start;
      a.image-link {
        display: block;
        position: relative;
      }
      figcaption {
        text-align: left;
        width: 100%;
        margin: 0.5em 0 1em 0;
      }
    }
    &.video-list {
      figure {
        > .nextui-image-container {
          width: 100%;
          overflow: hidden;
          aspect-ratio: 16 / 9;
        }
      }
    }
  }
}

.grid-sidebar {
  position: relative;
  @media screen and (min-width: $mid-screen-width) {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: flex-start;
    column-gap: 5%;
    align-items: flex-start;
    > h1 {
      position: absolute;
      top: 0;
      left: 0;
    }
    .related > h3 {
      padding: 0 0 0.25em 0;
    }
    &.video-container {
      .related > h3 {
        margin-top: 0.1875rem;
      }
    }
    .columns {
      .related-item {
        .grid-2 {
          grid-template-columns: 1fr;
        }
        margin-bottom: 1em;
        padding-bottom: 1em;
                @include square-dots();
      }
    }
  }
}

main > .related {
  width: 100%;
}

.grid-rows-6 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  figure {
    max-height: 20vh;
  }
}

#nextui-tooltip {
  border: solid 1px $mid-grey;
}

.artwork-list {
  width: 100%;
  max-width: 100%;
  padding-right: 2.5%;
  figure.hidden {
    display: none;
  }
}

.show-detailed .artwork-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-height: 80vh;
  overflow: hidden;
  opacity: 0;
}

#nextui-modal {

  .control {
    position: absolute;
    user-select: none;
    &.bottom-left {
      bottom: 5vh;
      left: 2.5vw;
      &.close-modal {
        bottom: 0.375em;
        left: 0.375em;
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
        &:hover {
          opacity: 1;
        }
      }
    }
    &.top-right {
      top: 1em;
      right: 0.75em;
    }
    font-size: 2.5vw;
    cursor: pointer;

    &.close-modal {
      font-size: 1em;
    }

    @media (min-width: $max-screen-width) {
      font-size: 45px;
    }

    &:hover {
      color: $primary;
    }
  }
  figure {
    position: relative;
    height: 100%;
    width: 100%;
    pointer-events: none;
    figcaption {
      position: absolute;
      bottom: 5vh;
      left: 5%;
      right: 5%;
      padding: 1em;
      cursor: pointer;
      pointer-events: all;
      background-color: rgba($light, 0.6667);
      @media (min-width: $mid-screen-width) {
        left: 15%;
        right: 15%;
      }
      @media (min-width: $large-screen-width) {
        left: 25%;
        right: 25%;
      }
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.carousel-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  .flex {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    transition: height 0.375s ease-in-out;
      /* Add this */
    > figure {
      /* flex: 0 0 100%; */
      flex: 1;
      padding: 0;
      /* height: calc(50vw - 0.5em);
      @media screen and (min-width: $max-screen-width) {
        height: calc(900px - 3em);
      } */
    }
  }

  .enlarge-trigger {
    cursor: pointer;
    &.middle {
      top: 0;
      left: 25%;
      right: 25%;
      bottom: 0;
    }
    &.bottom {
      bottom: 0.375em;
      right: 0.375em;
      width: 1em;
      height: 1em;
    
      &::before {
        font-size: 2.5vw;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
      }
    
      @media screen and (min-width: $max-screen-width) {
        font-size: 45px;
      }
    }
    z-index: 9;
  }

  &:hover {
    .enlarge-trigger::before {
      opacity: 1;
    }
  }

  &.show-controls {
    .enlarge-trigger {
      bottom: 2.75rem;
    }
  }

  .control,
  .enlarge-trigger {
    position: absolute;
    opacity: 0.5;
    transition: all 0.333s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }

  >.control {
    top: 0;
    bottom: 0;
    width: 25%;
    margin-top: -1rem;
    cursor: pointer;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
   
    &.prev {
      left: 0.25em;
      align-items: flex-start;
    }
    &.next {
      right: 0.25em;
      align-items: flex-end;
    }

    font-size: 4vw;

    @media screen and (min-width: $max-screen-width) {
      font-size: 72px;
    }
    &:hover {
      color: $primary;
    }
  }

  &.show-controls {
    padding: 0 0 2rem 0;
  }

  .slide-nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    button {
      height: 0.75rem;
      width: 0.75rem;
      background-color: $dark;
      opacity: 0.5;
      border: none;
      margin: 0 0.5rem;
      border-radius: 50%;
      cursor: pointer;
      &:hover {
        background-color: $primary;
      }
      &.active {
        opacity: 1;
      }
    }
  }
}

.filter-nav {
  width: 100%;
  margin-bottom: 1em;
  h1 {
    margin: 0 0 0.5em 0;
    padding: 0 0 0.5em 0;
    @include square-dots();
  }
  .filter-options {
    @include square-dots();
    padding: 0.125em 0 0.5em 0;
    li {
      margin: 0 0.5em 0 0;
      position: relative;
      &::after {
        content: "|";
        display: inline-block;
        margin-left: 0.5em;
      }
      cursor: pointer;
      &:first-child {
        margin-left: 0;
        padding-left: 0;
      }
      &:last-child {
        &:after {
          content: "";
        }
      }
      &:hover {
        color: $primary;
      }
      &.active {
        font-weight: bold;
        &::after {
          font-weight: normal;
        }
      }
    }
  }

  .sub-nav {
    position: relative;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    justify-content: flex-start;
    margin-top: 0.5em;
    left: -0.25em;
    li {
      position: relative;
      padding: 0.125em 0.5em;
      user-select: none;
     /*  &::after {
        content: "";
        position: absolute;
        top: 0.5em;
        bottom: 0.5em;
        right: 0;
        border-right: solid 1px $dark;
      } */
  
      &:last-child {
        &::after {
          border-right: none;
        }
      }
      &.active {
        a {
          font-weight: bold;
        }
      }
      &:hover {
        color: $primary;
      }
    }
  }
  &.show-by-year {
    .years-nav {
      max-height: 5em;
      opacity: 1;
      margin-bottom: 3em;
    }
  }
  &.show-by-type {
    .types-nav {
      max-height: 5em;
      opacity: 1;
      margin-bottom: 3em;
    }
  }
}
.video-container {
  iframe.video {
    width: 100%;
    aspect-ratio: 16 / 9;
  }
}

.full-width {
  width: 100%;
}

.about-nav {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  > h1.section-header {
    margin-bottom: 0;
  }
  ul {
    padding: 0.5em 0;
    @include square-dots();
    margin: 0 0 1.5em 0;
    li {
      position: relative;
      padding: 0 1em;
      &:after {
        position: absolute;
        content: " ";
        border-right: solid 1px $dark;
        top: 0;
        bottom: 0;
        right: 0;
      }
      &:first-child {
        padding: 0 1em 0 0;
      }
      &:last-child {
        &:after {
          border-right: none;
        }
      }
      &.active {
        font-weight: bold;
      }
    }
  }
}

.splash-overlay,
.splash-overlay figure,
.splash-overlay figure figcaption,
.splash-overlay figure>div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  background-color: white;

  figure {
    width: 100%;
    height: 100%;
    cursor: pointer;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    figcaption {
      position: absolute;
      user-select: none;
      top: 10%;
      bottom: 5%;
      left: 5%;
      right: 10%;
      opacity: 0.6667;
      animation-name: fadeoutentry;
      animation-duration: 1s;
      animation-delay: 0s;
      animation-timing-function: linear;
      animation-fill-mode: both;
      @media (min-width: $small-screen-width) {
        top: 15%;
        bottom: 15%;
        left: 10%;
        right: 10%;
      }
      @media (min-width: $mini-screen-width) {
        top: 20%;
        bottom: 20%;
        left: 20%;
        right: 20%;
      }
      @media (min-width: $mid-screen-width) {
        top: 37.5%;
          bottom: 37.5%;
          left: 37.5%;
          right: 37.5%;
      }
      cursor: pointer;
      font-size: 5vw;
      color: $primary;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;

      i,
      span {
        display: inline-block;
      }

      i.icon {
        position: relative;
        margin-left: 0.25em;
        margin-right: 0.25em;
        font-size: 0.75em;
        transition: margin 0.5s ease-in-out;
      }

      &:hover {
        i.icon {
          position: relative;
          left: 0;
          margin-left: 0.5em;
          margin-right: 0;
        }
      }
    }

    &:hover {
      figcaption {
        
        animation-play-state: initial;
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  transition: opacity 0.5s ease-in-out;
}

.gt-outer .splash-overlay {
  figure > figcaption {
    &:hover {
      opacity: 1;
    }
  }
}

.show-fullscreen-overlay {
  max-height: 100vw;
  overflow: hidden;
}

.section--home-theme .splash-overlay {

  &.active {
    opacity: 1;
    pointer-events: all;
    z-index: 1000;
  }
}

.gt-outer body>div#__next>div {
  
  .show-splash-link {
    cursor: pointer;
    opacity: 0;
    padding: 2em 0;
    font-weight: bold;
    &:hover {
      opacity: 1;
    }
  }

  .tag-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
    &.active {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.home-container {
  display: grid;

    justify-content: flex-start;
      align-items: flex-start;
  grid-template-areas: "header header"
      "main right"
      "footer footer";
  grid-template-columns: 3fr 2fr;
  column-gap: 2.5%;
  align-items: stretch;
  > header {
    grid-area: header;
    width: 100%;
    padding: 0.5em 0;
    .icon {
      font-size: 1.5rem;
    }
  }

  .current-exhibition {
    grid-area: main;
    figure {
      width: 100%;
      > div,
      img {
        width: 100%;
      }
    }

    article {
      h3 {
        span {
          display: inline-block;
        }
        span.placename {
          margin-left: 0.4em;
          display: inline-block;
          &::before {
            content: "+";
            margin-right: 0.6em;
          }
        }
      }
    }

  }
  .news-previews {
    grid-area: right;

    a:hover a, h4:hover, .more-link:hover {
      color: $primary;
      user-select: none;
    }

    .news-items {
      article {
        margin: 0 0 0.25em 0;
        padding: 0 0 0.25em 0;
      }
      margin-bottom: 1em;
    }

    .artwork-links {
      margin-top: 2em;
    }

    > .more-link {
      position: relative;
      margin: 1.5em 0 3em 0;
    }
    .news-items  article,
    .artwork-links h3,
    .subtitle {
      @include square-dots();
    }
  }

  .video-previews {
    grid-area: footer;
    padding: 2em 0;
    h3 {
      margin: 0.5em 0 1em 0;
      padding: 0.25em 0;
    }
    .items {
      width: 100%;
      margin: 0.5em 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 2.5%;
    }
    figure > div,
    figure {
      aspect-ratio: 16 / 9;
    }
  }
}

main > article {
  width: 100%;
  > .info {
    margin: 1em 0 2em 0;
  }
  > h1 {
    @include square-dots();
    padding-bottom: 0.125em;
  }
}

.press-list {
  width: 100%;
  .related-mini {
    margin: 0 0 2em 0;
  }
}

.column {
  .related-mini {
    p, h4 {
      margin: 0;
    }
    margin: 0.5em 0 1em 0;
    padding-bottom: 1em;
    @include square-dots();
    &:first-child {
      margin-top: 1em;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}

main > header,
main > article > header {
  margin: 0 auto 0.625em auto;
  @include square-dots();
  padding: 0.25em 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;

  > h1 {
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

.links-2 {
  a {
    display: inline-block;
    margin-right: 0.625em;
    &::after {
      content: "/";
      display: inline-block;
      margin-left: 0.625em;
    }
    &:last-child {
      margin-right: 0;
      &::after {
        content: "";
      }
    }
  }

}

.search-sections {
  width: 100%;
}

.share-widget {
  margin: 1em 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2em;
  h4 {
    margin-right: 1em;
    span {
      text-transform: lowercase;
    }
  }
  h4,
  .share-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 2em;
  }

  h4 {
    user-select: none;
    cursor: pointer;
    i,
    span {
      display: inline-block;
    }
    i.icon {
      margin: 0 0.5em;
      font-size: 0.8em;
    }
  }

  .share-icons {
    pointer-events: none;
    opacity: 0;
    
    button {
      margin-right: 0.75em;
      i.icon {
        font-size: 1.25rem;
      }
      &:hover {
        i.icon {
          color: $primary;
        }
      }
    }
  }
  &:hover {
    .share-icons {
      pointer-events: all;
      opacity: 1;
    }
    h4 {
      color: $primary;
    }
  }
}

.related {
  margin: 0 0 2em 0;
  > h3 {
    padding: 0.5em 0;
    margin-top: 0.5rem;
    @include square-dots();
    text-transform: uppercase;
  }
  > div {
    margin: 0.5em 0 1em 0;
  }
}

article > .related {
  > h3 {
    margin: 0.625em auto 0.25em auto;
    @include square-dots();
  }
}

.sublist {
  margin: 0 0 5rem 0;
  > h3 {
    text-transform: uppercase;
    padding: 0.25em 0;
    margin: 0.25em 0 0.75em 0;
  }

  .press-items {
    li {
      padding: 0.125em 0 0.625em 0;
      span, time, a {
        display: inline-block;
        
      }
    }
  }

    &.date-inline .press-items p {
      display: inline-block;
    }

  &.date-inline .press-items time,
  .press-items span {
  &::after {
      display: inline-block;
      content: "—";
      margin: 0 0.25em 0 0.75rem;
    }
  }

  .more-link {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
    @include square-dots-top();
    padding: 0.25em 0;
    i, span {
      display: inline-block;
    }
    i.icon {
      margin-left: 0.5em;
      font-size: 0.8em;
    }
  }

}

.contact-overlay > .inner,
.overlay-form {
  max-width: 40em;
  padding: 0 1em 1em 1em;
  margin: 1em 0 2em 0;

  > h3 {
    text-transform: uppercase;
    text-align: left;
    padding: 0 0 1em 0;
    margin: 0 0.75em 1.5em 0.75em;
    @include square-dots();
  }
  > .body {
    text-align: left;
    margin: 0 0.75em;
    p {
      margin: 0 0 0.125em 0;
    }
  }
  a:hover {
    color: $primary;
  }
}

.overlay-form {

  button {
    background: none;
    color: $dark;
    border: solid 1px $dark;
    width: 7em;
    border-radius: 0;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: calc(1em - 1px);
    text-transform: uppercase;

    &:hover {
      color: $primary;
    }
  }

  &.mailchimp-form {
    button {
      margin-left: 0.75em;
    }
  }

  .nextui-input-main-container {
    margin: 0;
    .nextui-input-container {
      label {
        background: none;
      }
      margin-bottom: 0.5em;
    }
    input,
    textarea {
      border: solid 1px $dark;
      padding: 0.375em;
      &::placeholder {
        color: $dark;
      }
    }
    .nextui-input-container--textarea {
      margin-left: -1px;
      margin-right: -1px;
    }
  }
  ul.error {
    margin: 0 1em 0.75em 1em;
    color: $danger;
    text-align: left;
  }
}

.contact-overlay {
  max-width: 40em;
  margin: 0 auto;
  
  form,
  > .inner {
    max-width: 40em;
    width: 100%;
  }

  ul,
  li {
    text-align: left;
  }
}

.contact-container {
  max-width: 40em;
  min-height: 8em;
  border-radius: 0;
  a:hover {
    color: $primary;
  }
  > ul {
    margin: 0.5em 1.875em 2em 1.875em;
  }
}

#nextui-modal {
  background: none;
  p, li {
    font-size: $text-size;
  }
  .nextui-modal-wrapper-enter {
    border-radius: 0;
  }
}

ul.galleries {
  li {
    padding: 0.75em 0;
    @include square-dots();
    &:last-child {
      border-bottom: none;
    }
  }
}