$max-screen-width: 1800px;
$large-screen-width: 1350px;
$mlarge-screen-width: 1125px;
$mid-screen-width: 900px;
$mini-screen-width: 675px;
$small-screen-width: 450px;
$tall-screen-height: 750px;
$sidebar-width: 15em;
$top-padding-standard: 6rem;
$top-logo-margin-bottom-standard: 3rem;
$top-padding-tall: 7rem;
$top-logo-margin-bottom-tall: 4rem;

$dark: #333333;
$mid-grey: #999999;
$light-grey: #cccccc;
$light: white;
$primary: #ff6600;

@keyframes fadeoutentry {
  0% {
    opacity: 0.6667;
  }
  100% {
    opacity: 0;
  }
}

html {
  font-size: 14px;
  @media (min-width: $mini-screen-width) {
    font-size: 15px;
  }
  @media (min-width: $mid-screen-width) {
    font-size: 16px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: $dark;
  background-color: $light;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.seo-hide {
  position: absolute;
  left: -2000em;
  top: -1000em;
}

#nextui-tooltip,
article,
nav,
main,
header,
aside,
figure,
section {

  >h1,
  header > h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 1em;
    font-weight: normal;
  }

  >h1,
  header>h1,
  >h2,
  >h3,
  >h4,
  >h5 {
    text-transform: uppercase;
  }
}

#nextui-tooltip {
  border-radius: 0;
}

nav {
  user-select: none;
}

header.header {
  .logo {
    position: absolute;
    top: 0.5rem;
    left: 2.5%;
    display: block;
    width: 100%;
    height: 3rem;
    background: url(/assets/signature.svg) no-repeat top left;
    background-size: contain;
    @media (min-width: $mid-screen-width) {
      position: relative;
      top: 0;
      left: auto;
    }
  }

  .expand-nav {
    display: block;
    position: absolute;
    top: 0.5rem;
    right: 5%;
    @media (max-width: $mid-screen-width) {
      z-index: 60;
      cursor: pointer;
      &:hover {
        color: $primary;
      }
    }
  }
  
  @media screen and (min-width: $mid-screen-width) {
    position: sticky;
    top: 2em;
    width: $sidebar-width;
    .expand-nav {
      display: none;
    }
    .logo {
      margin-bottom: $top-logo-margin-bottom-standard;
      @media (min-height: $tall-screen-height) {
        margin-bottom: $top-logo-margin-bottom-tall;
      }
    }
  }
}
@media (max-width: $mid-screen-width) {

  .show-menu {
    .top-nav {
      min-height: 19em;
      max-height: 100vh;
      overflow-y: auto;
      overflow-x: hidden;
      ul {
        li.inner {
          opacity: 1;
        }
      }
    }
  }
}

.top-nav {
  position: relative;
  @media (max-width: $mid-screen-width) {
    width: 100%;
    transition: max-height 0.625s ease-in-out;
    min-height: 6rem;
    max-height: 6rem;
    z-index: 50;
    overflow: hidden;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    border-bottom: dotted 1px $dark;
  }
  > ul {
    display: flex;
    /* flex-flow: row wrap; */
    position: relative;
    top: 0.5rem;
    right: 0;
    left: 0;
    flex-flow: column nowrap;
    @media (max-width: $mid-screen-width) {

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      padding-top: 4rem;
      pointer-events: none;
      li {
        &.prominent {
          position: absolute;
          pointer-events: all;
    
          &.search-link {
            right: 2.75rem;
            top: 0;
          }
          &.section--home {
            right: 3rem;
            top: 4rem;
            left: 0;
            max-width: 4em;
          }
        }
        &.inner {
          padding: 0.25em 8rem;
          opacity: 0;
          text-align: center;
          pointer-events: none;
          a {
            pointer-events: all;
          }
        }
      }
    }
    @media screen and (min-width: $mid-screen-width) {
      li {
        position: relative;
        top: 0;
        left: auto;
        right: auto;
        a {
          width: 100%;
        }
        &.search-link {
          padding-bottom: 8em;
          cursor: pointer;
        }
      }
    }
    li {
      padding: 0 1em;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      user-select: none;
      &.active {
        a {
          font-weight: bold;
        }
      }
      &.search-link,
      &.section--home {
        .icon {
          font-size: 1.5rem;
          cursor: pointer;
          &:hover {
            color: $primary;
          }
        }
      }
      &.search-link {
        .icon {
          font-size: 1.5rem;
        }
        > div:first-child {
          width: auto;
          max-width: 0;
          overflow: hidden;
          transition: all 0.333s ease-in-out;
        }
        &:hover > div:first-child {
          max-width: 10em;
          margin-right: 0.25em;
        }
      }
      &:hover {
        a {
          color: $primary;
        }
      }
    }
  }
}

.top-nav,
.about-nav,
.footer-nav,
.filter-nav {
  h1,
  h2,
  li {
    text-transform: uppercase;
  }
}

body,
div#__next {
  margin: 0 auto;
}

div#__next {
  width: 100%;
}

figure {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  &.hidden {
    display: none;
  }
}

ul,
li,
figure,
p,
h3,
h4 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

img {
  max-width: 100%;
}

.section-header {
  border-bottom: dotted 1px $dark;
  font-weight: normal;
  font-size: 1em;
  margin-bottom: 1em;
  width: 100%;
  padding: 0 0 0.5em 0;

  h1 {
    margin: 0;
  }
}

.gt-outer body > div#__next > div {
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 2.5% 2rem 2.5%;
  @media (min-width: $mid-screen-width) {
    padding: 2rem 2.5%;
  }
  max-width: $max-screen-width;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .upper {
    text-transform: uppercase;
  }

  .close-link {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  .subtitle-link {
    cursor: pointer;
  }

  > main {
    position: relative;
    width: 100%;
    padding: 0 2.5%;
    margin: 0 auto 2em 0;
    min-width: 100%;
  }
  @media (max-width: $mid-screen-width) {
    header {
      width: 100%;
    }
  }

  @media screen and (min-width: $mid-screen-width) {
    display: grid;
    grid-template-columns: $sidebar-width auto;
    column-gap: 2.5%;
    align-items: flex-start;
    justify-items: stretch;
    grid-template-areas: "header main"
      "footer footer";
    > header {
      grid-area: header;
    }
    > main {
      grid-area: main;
      width: auto;
      min-width: calc(95% - $sidebar-width);
      padding-top: $top-padding-standard;
      padding-left: 0;
      @media (min-height: $tall-screen-height) {
        padding-top: $top-padding-tall;
        padding-right: 0;
      }
    }
    > footer {
      grid-area: footer;
      @media (min-width: $max-screen-width) {
        min-width: calc(1800px - 6.25%);
      }
    }
  }

    @media screen and (min-width: $max-screen-width) {
      >main {
        min-width: calc($max-screen-width - $sidebar-width - 11.25%);
      }
    }

  footer.footer {
    width: 100%;
    position: relative;
    a:hover {
      color: $primary;
    }
    .menus {
      width: 100%;
      position: relative;
      border-top: dotted 1px $dark;
      border-bottom: dotted 1px $dark;
      padding: 0.5em 0;
      margin: 0 0 1em 0;
      user-select: none;
    }
    .social-nav {
      position: absolute;
      bottom: 0.5em;
      right: 0;
      li {
        position: relative;
        padding: 0 0 0 0.625em;
        i.icon {
          font-size: 1.25em;
        }
        .text-label {
          position: absolute;
          left: -1000em;
          top: 0;
        }
      }
    }
    .footer-nav {
      li {
        margin: 0;
        font-size: 0.875rem;
        line-height: 1.375em;
      }
    }
    .credits * {
      font-size: 0.75rem;
      user-select: none;
    }
  }

  
}

.section--tags-theme.gt-outer body>div#__next>div {
  position: relative;
  @media screen and (min-width: $mid-screen-width) {
      align-items: flex-start;
      grid-template-areas: "main"
          "footer";

      grid-template-columns: 1fr;
      > header {
        position: absolute;
        top: 1rem;
        bottom: 0;
        left: 2.5%;
        nav {
          opacity: 0;
          pointer-events: none;
        }
      }

      > main {
        width: 100%;
        max-width: 100%;
        pointer-events: none;
        .tag-list a {
          pointer-events: all;
        }
      }
      
    }
}
/* .paginator {
  ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    li {
      padding: 0.5em 1em;
      &.active a {
        pointer-events: none;
        font-weight: bold;
        color: $mid-grey;
      }
      a {
        color: $dark;
      }
    }
  }
} */


.listing-nav {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0.75em 0 1.5em 0;
  .nav-link {
    display: flex;
    align-items: center;
    &:hover {
      color: $primary;
    }
    &.prev {
      margin-right: 1em;
    }
    &.next {
      margin-left: 1em;
    }
  }
  i, span {
    display: inline-block;
  }

  i.icon {
    &.next {
      margin-left: 0.25em;
    }
    &.prev {
      margin-right: 0.25em;
    }
    font-size: 1.125em;
  }
}

.row, .column {
  display: flex;
}
.row {
  flex-flow: row wrap;
}

.about-listing {
  .related-mini,
  li {
    padding: 1em 0;
    margin-bottom: 1em;
    border-bottom: dotted 1px $dark;
    &:last-child {
      border-bottom: none;
    }
  }
}

.timeline-item-container {
  position: relative;
  height: 12em;
  width: 100%;
  min-width: calc(100vw - $sidebar-width - 7.5vw);
  overflow: hidden;
  @media screen and (min-width: $max-screen-width) {
    min-width: calc($max-screen-width - $sidebar-width - 135px);
  }
  .timeline-items {
      position: absolute;
      top: 2em;
      right: 0;
      left: 0;
      bottom: 0;
      overflow: hidden;

      .timeline-holder {
        flex-flow: row nowrap;
        width: 10000%;
        position: relative;
        transition: left 0.5s ease-in-out;
        text-align: center;
        > div.timeline-item {
          position: relative;
          width: 20em;
          padding: 4rem 1rem 1rem 1em;
          margin: 1em 0;
          &.selected {
            h3, h4 {
              font-weight: bold;
            }
          }
          &::before,
          &::after {
            position: absolute;
            content: " ";
          }
          &::before {
            border-top: solid 1px $dark;
            top: 0;
            left: 0;
            right: 0;
          }
          &::after {
            top: 0;
            left: 50%;
            height: 3rem;
            border-right: solid 1px $dark;
          }
        }
      }
    }

  .timeline-dir-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    
    i.icon {
      position: absolute;
      font-size: 2rem;
      top: 4rem;
      opacity: 0;
      &:hover {
        color: $primary;
      }
      &.prev {
        left: 0;
      }
      &.next {
        right: 0;
      }
    }
    &.show-prev .prev,
    &.show-next .next {
      opacity: 1;
      cursor: pointer;
      pointer-events: all;
    }
  }
}

.related-content {
  margin: 2rem 0 1rem 0;
  padding: 1rem 0;
  li {
    em {
      display: inline-block;
      margin-left: 0.5em;
    }
    margin-bottom: 0.625em;
    a {
      &:hover {
        color: $primary;
      }
    }
  }
}

.timeline-details {
  width: 100%;
  @media screen and (min-width: $mini-screen-width) {
    width: 90%;
  }
  @media screen and (min-width: $mid-screen-width) {
    width: 80%;
    max-width: 80em;
  }
  margin-bottom: 4em;
}

.grid-2-header,
.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5%;
  align-items: stretch;
  margin-bottom: 2em;
  figure,
  .text-details {
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column nowrap;
  }
  figcaption {
    width: 100%;
    text-align: center;
  }
}

.grid-2-header {
  grid-template-areas: "head head"
    "left right";
  > h1 {
    grid-area: head;
  }
  > .carousel-container {
    grid-area: left;
  }
   > .text-details {
    grid-area: right;
  }
}

.flex-grid-4 {
  display: grid;
  grid-template-columns: 1fr;
  @media screen and (min-width: $mini-screen-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 2.5%;
  }
  @media screen and (min-width: $mid-screen-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media screen and (min-width: $large-screen-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.flex-grid-2 {
  display: grid;
  grid-template-columns: 1fr;

  @media screen and (min-width: $mid-screen-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
  }
}

.column {
  flex-flow: column wrap;
}

ul, ol {
  &.tag-list,
  &.row {
    list-style: none;
  }
  &.terms {
    li {
      padding: 0.25em 1em 0.25em 0;
      a {
        &::after {
          content: ",";
        }
      }
      &:last-child {
        a::after {
          content: "";
        }
      }
    }
  }
}

.tag-list {
  display: block;

  /* max-width: 80em;
  width: 80%; */
  justify-content: flex-start;
  align-items: center;

  > .tag {
    padding: 0;
    display: inline;
    position: relative;
    white-space: normal;

    font-size: 1rem;
    @media (min-width: $small-screen-width) {
      font-size: 1.3333rem;
    }
    @media (min-width: $mini-screen-width) {
      font-size: 1.6667rem;
    }

    @media (min-width: $mid-screen-width) {
      font-size: 2rem;
    }

    @media (min-width: $large-screen-width) {
      font-size: 2.25rem;
    }

    &::after {
      display: inline-block;
      content: "|";
      margin: 0 0.375em 0 0;
    }

    &:hover {
      &::after {
        color: $mid-grey;
        transform: scaleY(1.8888) translateY(1.25%);
      }
    }

    &:last-child {
      &::after {
        content: "";
        margin: 0;
      }
    }

    a {
      position: relative;
      padding: 0 0.5em 0 0;
      color: $dark;
      white-space: normal;

      &:hover {
        background-color: $mid-grey;
        color: white;
        line-height: 1;
        outline: solid 0.125em $mid-grey;
        &::before {
          position: absolute;
          content: " ";
          height: 1.3165em;
          top: -0.09375em;
          left: -0.625em;
          @media (min-width: $mid-screen-width) {
            top: -0.125em;
            height: 1.40625em;
          }
          @media (min-width: $large-screen-width) {
            height: 1.375em;
          }
          border-left: solid 0.625em $mid-grey;
          z-index: 0;  
        }
      }
    }
  }
  margin-bottom: 3em;
}

.about-article {
  > h2,
  .body > h3 {
    border-bottom: dotted 1px $dark;
    text-transform: uppercase;
  }

  .body > h3 {
    margin-top: 4em;
  }
  margin-bottom: 2em;
}

body .nprogress {
  width: 100vw;
}

.grid-rows-6,
.grid {
  display: grid;
}

.flex-rows-6,
.grid-rows-6,
.grid {
  width: 100%;
  figure {
    position: relative;
    font-size: 0.8em;
    
    figcaption,
    a.image-link {
      position: absolute;
    }
    .image-link {
      top: 0;
      left: 0;
      right: 2em;
      bottom: 2em;
    }
    figcaption {

      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 1em 10%; 
      h3,
      p,
      ul, li {
        font-size: 1em;
        margin: 0;
      }
      h3,
      p,
      ul {
        padding: 0 0 0.25em 0;
      }
      ul li {
        padding: 0;
      }
      background-color: rgba($light, 0.5);
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.5s ease-in-out;
    }
   /*  &:hover figcaption {
      opacity: 1;
    } */
  }
}

.flex-rows-6 {
  margin-right: -2em;
  width: calc(100% + 2em);
}

figure {
  .terms {
    li {
      padding: 0 0.75em 0 0;
      line-height: 1.25;
    }
  }
}

.flex-rows-6 {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
  > figure {
    width: 100%;
    @media screen and (min-width: $mini-screen-width) {
      height: 13.333vw;
      width: auto;
    }
    @media screen and (min-width: $mid-screen-width) {
      height: 10vw;
    }
    @media screen and (min-width: $max-screen-width) {
      height: 180px;
    }
    position: relative;
    padding: 1vh;
    .image-link {
      display: block;
      max-height: 100%;
      span {
        max-height: 100%;
      }
    }
  }
}

.grid-list {
  width: 100%;
  .columns {
    @media screen and (min-width: $mini-screen-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: masonry;
      column-gap: 2.5%;
      justify-content: flex-start;
      grid-row-gap: 1em;
    }
    @media screen and (min-width: $mlarge-screen-width) {
      grid-template-columns: repeat(3, 1fr);
    }
    figure {
      flex-flow: column nowrap;
      justify-content: flex-start;
      a.image-link {
        display: block;
        position: relative;
      }
      figcaption {
        text-align: center;
      }
    }
    &.video-list {
      figure {
        > .nextui-image-container {
          width: 100%;
          overflow: hidden;
          aspect-ratio: 16 / 9;
        }
      }
    }
  }
}

.grid-sidebar {
  @media screen and (min-width: $mid-screen-width) {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: flex-start;
    column-gap: 5%;
    align-items: flex-start;
    .related > h3 {
      margin-top: 0;
      padding: 0 0 0.25em 0;
    }
    .columns {
      .related-item {
        .grid-2 {
          grid-template-columns: 1fr;
        }
        margin-bottom: 1em;
        padding-bottom: 1em;
        border-bottom: dotted 1px $dark;
      }
    }
  }
}

main > .related {
  width: 100%;
}

.grid-rows-6 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  figure {
    max-height: 20vh;
  }
}

#nextui-tooltip {
  border: solid 1px $mid-grey;
}

.artwork-list {
  width: 100%;
  max-width: 100%;
  padding-right: 2.5%;
  figure.hidden {
    display: none;
  }
}

.show-detailed .artwork-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-height: 80vh;
  overflow: hidden;
  opacity: 0;
}

#nextui-modal {
  .control {
    position: absolute;
    bottom: 5vh;
    left: 2.5vw;
    font-size: 2.5vw;
    cursor: pointer;
    @media (min-width: $max-screen-width) {
      font-size: 45px;
    }
    &:hover {
      color: $primary;
    }
  }

  figure {
    position: relative;
    height: 100%;
    width: 100%;
    pointer-events: none;
    figcaption {
      position: absolute;
      bottom: 5vh;
      left: 5%;
      right: 5%;
      padding: 1em;
      cursor: pointer;
      pointer-events: all;
      background-color: rgba($light, 0.6667);
      @media (min-width: $mid-screen-width) {
        left: 15%;
        right: 15%;
      }
      @media (min-width: $large-screen-width) {
        left: 25%;
        right: 25%;
      }
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.carousel-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  .flex {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    transition: height 0.375s ease-in-out;
      /* Add this */
    > figure {
      /* flex: 0 0 100%; */
      flex: 1;
      padding: 0;
      /* height: calc(50vw - 0.5em);
      @media screen and (min-width: $max-screen-width) {
        height: calc(900px - 3em);
      } */
    }
  }

  .enlarge-trigger {
    bottom: 0.375em;
    right: 0.375em;
    width: 1em;
    height: 1em;
    cursor: pointer;
    &::before {
      font-size: 2.5vw;
    }
    @media screen and (min-width: $max-screen-width) {
      font-size: 45px;
    }
    z-index: 9;
  }

  &.show-controls {
    .enlarge-trigger {
      bottom: 2.75rem;
    }
  }

  .control,
  .enlarge-trigger {
    position: absolute;
    opacity: 0.5;
    transition: all 0.333s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
  >.control {
    top: 0;
    bottom: 0;
    width: 25%;
    margin-top: -1rem;
    cursor: pointer;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
   
    &.prev {
      left: 0.25em;
      align-items: flex-start;
    }
    &.next {
      right: 0.25em;
      align-items: flex-end;
    }

    font-size: 4vw;

    @media screen and (min-width: $max-screen-width) {
      font-size: 72px;
    }
    &:hover {
      color: $primary;
    }
  }

  &.show-controls {
    padding: 0 0 2rem 0;
  }

  .slide-nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    button {
      height: 0.75rem;
      width: 0.75rem;
      background-color: $dark;
      opacity: 0.5;
      border: none;
      margin: 0 0.5rem;
      border-radius: 50%;
      cursor: pointer;
      &:hover {
        background-color: $primary;
      }
      &.active {
        opacity: 1;
      }
    }
  }
}

.filter-nav {
  width: 100%;

  h1 {
    font-size: 1em;
    margin: 0 0 0.5em 0;
    padding: 0 0 0.5em 0;
    border-bottom: dotted 1px $dark;
  }
  .filter-options {
    
    li {
      margin: 0 0.5em;
      padding: 0.5em;
      position: relative;
      &::after {
        content: " ";
        position: absolute;
        top: 0.875em;
        bottom: 0.875em;
        right: 0;
        border-right: solid 1px $dark;
      }
      cursor: pointer;
      &:first-child {
        margin-left: 0;
        padding-left: 0;
      }
      &:last-child {
        &:after {
          border-right: none;
        }
      }
      &:hover {
        color: $primary;
      }
      &.active {
        font-weight: bold;
      }
    }
  }

  .sub-nav {
    position: relative;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    justify-content: flex-start;
    left: -0.625em;
    li {
      position: relative;
      padding: 0.125em 0.625em;
      user-select: none;
      &::after {
        content: "";
        position: absolute;
        top: 0.5em;
        bottom: 0.5em;
        right: 0;
        border-right: solid 1px $dark;
      }
  
      &:last-child {
        &::after {
          border-right: none;
        }
      }
      &.active {
        a {
          font-weight: bold;
        }
      }
      &:hover {
        color: $primary;
      }
    }
  }
  &.show-by-year {
    .years-nav {
      max-height: 5em;
      opacity: 1;
    }
  }
  &.show-by-type {
    .types-nav {
      max-height: 5em;
      opacity: 1;
    }
  }
}
.video-container {
  iframe.video {
    width: 100%;
    aspect-ratio: 16 / 9;
  }
}

.full-width {
  width: 100%;
}

.about-nav {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  > h1.section-header {
    margin-bottom: 0;
  }
  ul {
    padding: 0.5em 0;
    border-bottom: dotted 1px $dark;
    margin: 0 0 1.5em 0;
    li {
      position: relative;
      padding: 0 1em;
      &:after {
        position: absolute;
        content: " ";
        border-right: solid 1px $dark;
        top: 0;
        bottom: 0;
        right: 0;
      }
      &:first-child {
        padding: 0 1em 0 0;
      }
      &:last-child {
        &:after {
          border-right: none;
        }
      }
      &.active {
        font-weight: bold;
      }
    }
  }
}

.splash-overlay,
.splash-overlay figure,
.splash-overlay figure figcaption,
.splash-overlay figure>div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  background-color: white;

  figure {
    width: 100%;
    height: 100%;
    cursor: pointer;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    figcaption {
      position: absolute;
      user-select: none;
      top: 10%;
      bottom: 5%;
      left: 5%;
      right: 10%;
      opacity: 0.6667;
      animation-name: fadeoutentry;
      animation-duration: 1s;
      animation-delay: 0s;
      animation-timing-function: linear;
      animation-fill-mode: both;
      @media (min-width: $small-screen-width) {
        top: 15%;
        bottom: 15%;
        left: 10%;
        right: 10%;
      }
      @media (min-width: $mini-screen-width) {
        top: 20%;
        bottom: 20%;
        left: 20%;
        right: 20%;
      }
      @media (min-width: $mid-screen-width) {
        top: 37.5%;
          bottom: 37.5%;
          left: 37.5%;
          right: 37.5%;
      }
      cursor: pointer;
      font-size: 5vw;
      color: $primary;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;

      i,
      span {
        display: inline-block;
      }

      i.icon {
        position: relative;
        margin-left: 0.25em;
        margin-right: 0.25em;
        font-size: 0.75em;
        transition: margin 0.5s ease-in-out;
      }

      &:hover {
        i.icon {
          position: relative;
          left: 0;
          margin-left: 0.5em;
          margin-right: 0;
        }
      }
    }

    &:hover {
      figcaption {
        
        animation-play-state: initial;
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  transition: opacity 0.5s ease-in-out;
}

.gt-outer .splash-overlay {
  figure > figcaption {
    &:hover {
      opacity: 1;
    }
  }
}

.show-fullscreen-overlay {
  max-height: 100vw;
  overflow: hidden;
}

.section--home-theme .splash-overlay {

  &.active {
    opacity: 1;
    pointer-events: all;
    z-index: 1000;
  }
}

.gt-outer body>div#__next>div {
  
  .show-splash-link {
    cursor: pointer;
    opacity: 0;
    padding: 2em 0;
    font-weight: bold;
    &:hover {
      opacity: 1;
    }
  }

  .tag-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
    &.active {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.home-container {
  display: grid;

    justify-content: flex-start;
      align-items: flex-start;
  grid-template-areas: "header header"
      "main right"
      "footer footer";
  grid-template-columns: 3fr 2fr;
  column-gap: 2.5%;
  align-items: stretch;
  > header {
    grid-area: header;
    width: 100%;
    padding: 0.5em 0;
    .icon {
      font-size: 1.5rem;
    }
  }

  .current-exhibition {
    grid-area: main;
    figure {
      width: 100%;
      > div,
      img {
        width: 100%;
      }
    }
  }
  .news-previews {
    grid-area: right;

    a:hover a, h4:hover, .more-link:hover {
      color: $primary;
      user-select: none;
    }

    .news-items {
      article {
        border-bottom: dotted 1px $dark;
        margin: 0 0 0.25em 0;
        padding: 0 0 0.25em 0;
      }
      margin-bottom: 1em;
    }

    .artwork-links {
      margin-top: 2em;
      h3 {
        border-bottom: dotted 1px $dark;
      }
    }

    > .more-link {
      position: relative;
      margin: 1.5em 0 3em 0;
    }

    .subtitle {
      border-bottom: dotted 1px $dark;
    }
  }

  .video-previews {
    grid-area: footer;
    padding: 2em 0;
    h3 {
      margin: 0.5em 0 1em 0;
      padding: 0.25em 0;
    }
    .items {
      width: 100%;
      margin: 0.5em 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 2.5%;
    }
    figure > div,
    figure {
      aspect-ratio: 16 / 9;
    }
  }
}

main > article {
  width: 100%;
  > .info {
    margin: 1em 0 2em 0;
  }
  > h1 {
    border-bottom: dotted 1px $dark;
  }
}

.press-list {
  width: 100%;
  .related-mini {
    margin: 0 0 2em 0;
  }
}

main > header,
main > article > header {
  margin: 0 auto 0.625em auto;
  /* border-top: dotted 1px $dark; */
  border-bottom: dotted 1px $dark;
  padding: 0.25em 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;

  >h1 {
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

.links-2 {
  a {
    display: inline-block;
    margin-right: 0.625em;
    &::after {
      content: "/";
      display: inline-block;
      margin-left: 0.625em;
    }
    &:last-child {
      margin-right: 0;
      &::after {
        content: "";
      }
    }
  }

}

.related {
  margin: 0 0 2em 0;
  > h3 {
    padding: 0.5em 0;
    border-bottom: dotted 1px $dark;
    text-transform: uppercase;
  }
  > div {
    margin: 0.5em 0 1em 0;
  }
}

article > .related {
  > h3 {
    margin: 0.625em auto 0.25em auto;
    border-top: dotted 1px $dark;
  }
}

.sidebar > .related {
  > h3 {
    margin: 0 auto 0.25em auto;
  }
}